body{
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://th.bing.com/th/id/OIP.KIxckbwMNT2Q0YBYKGHkNQHaFL?pid=ImgDet&rs=1");
  background-size: cover;
}
.quiz{
  background-color: #014b2d;
  border: 5px soild red;
  width: 1470px;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: rgb(191, 245, 28);
  background-image: url("https://th.bing.com/th/id/R.baa4f8ef97810cf46799a6b1e4aed02c?rik=AfTGnPletbT9jQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fntYEFqo.jpg&ehk=YoGZa1LmdltRG4BJ5DfnuyvBO8Brsu1ummTkbnve%2bwk%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}
.score-section{
  font-size: 30px;
  display: flex;
  align-items: center;
  color: azure;
}
.answer-section{
  background-color: rgb(255, 0, 234);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
.question-section{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: beige;
  text-shadow: 5px 5px 6px white;
}
button{
  background-color: rgb(64, 9, 227);
  color: beige;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Times New Roman';
border: 5px dashed rgb(40, 250, 36);  
}
button:hover{
  background-color: black;
  color: red;
}
.question-text{
  color: yellow;
  text-shadow: 5px 5px 6px silver;
}